.body {
  background-color: bisque;
  box-sizing: border-box;
}

.container {
  border: 2px solid #000;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 400px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* border: 2px solid red; */
}

.scores {
  display: flex;
  border: 2px solid black;
  justify-content: center;
  gap: 5rem;
}

.red {
  color: red;
}

